<!DOCTYPE html>
<html lang="es">
  <head>
    <title> </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="stylesheet" href="https://evolution2dev.s3.sa-east-1.amazonaws.com/dch/resources/templates.css?v=1394"> -->
    <link rel="stylesheet" href="css/templatesPWC-t3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/made-goodtime-grotesk" rel="stylesheet">
  </head>
  <body style="margin:0;padding:0">
    <div class="certification">
      <div class="certification__image"> 
	  <img src="img/bg-pwc-t3.png">
        <div class="certification__content"> 
          <div class="certification__text nombre"><%= nombre %></div>
          <div class="certification__text programa"><%= programa %></div>
          <div class="certification__text fecha">con fecha de <strong><%= fecha %></strong></div>
      </div>
    </div>
  </body>
</html>